# Sensitive or high-risk files
scraper/main/python/db/Credentials.py
# Environment-based files
db/venv/
scraper/venv/
Lib/
Scripts/
# idea
*.iml
*.ipr
*.iws
.idea/
.ideaDataSources
dataSources
/logs/
/screenshots/
/scraper/test/resources/
/scraper/main/debug/
/scraper/main/resources/proxy_extensions/
/scraper/main/resources/temp.*
